flows/review-board/n8n-review-board-agent-ethics.json
{
  "name": "Agent - Ethics",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "IssueID"
            },
            {
              "name": "RoundName"
            },
            {
              "name": "AcceptanceCriteria"
            },
            {
              "name": "Organisation"
            },
            {
              "name": "Repo"
            },
            {
              "name": "Persona"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        0
      ],
      "id": "0977c976-566d-448e-968e-d523cde749e8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Input').item.json.Organisation }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Input').item.json.Repo }}",
          "mode": "name"
        },
        "filePath": "={{ $('Input').item.json.DossierPath }}",
        "additionalParameters": {
          "reference": "={{ $('Input').item.json.Branch }}"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "e4aa75e9-1705-493e-8bc1-7bf66499529f",
      "name": "Get Dossier",
      "webhookId": "03d77e60-120c-4cac-b0a8-429fecc35f15",
      "credentials": {
        "githubOAuth2Api": {
          "id": "UW1kgrkxa9QIFntv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        368,
        0
      ],
      "id": "519c1be7-ee9f-4c7e-a38e-50ae3cf2bba0",
      "name": "Dossier"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f01a66b-f63f-4d0c-83f1-4280de00c7b2",
              "name": "text",
              "value": "=## Proposal\n{{ $('Issue').item.json.title }}\n\n### Issue Summary\n{{ $('Issue').item.json.body }}\n\n### Dossier Extact\n{{ $('Dossier').item.json.data }}\n\n### Round\n{{ $('Input').item.json.RoundName }}\n\n### Acceptance Criteria\n{{ $('Input').item.json.AcceptanceCriteria }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        0
      ],
      "id": "9e7c038e-cd69-4a8d-be07-d89b159b12c3",
      "name": "prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "933f056e-b830-49ae-95a5-eaed299eb631",
              "name": "Organisation",
              "value": "={{ $json.Organisation }}",
              "type": "string"
            },
            {
              "id": "2545745a-c180-4da8-89db-7710f22b0db7",
              "name": "Repo",
              "value": "={{ $json.Repo }}",
              "type": "string"
            },
            {
              "id": "42b0e2fd-c8c2-4194-9ac3-229c9dc71d26",
              "name": "IssueID",
              "value": "={{ $json.IssueID }}",
              "type": "number"
            },
            {
              "id": "93dd53e8-71e9-477b-b179-622e7403374a",
              "name": "APIUrl",
              "value": "=https://api.github.com/repos/{{ $json.Organisation }}/{{ $json.Repo }}/git",
              "type": "string"
            },
            {
              "id": "54bc024c-06bf-4627-9ecb-28be20c88779",
              "name": "ContentURL",
              "value": "=https://api.github.com/repos/{{ $json.Organisation }}/{{ $json.Repo }}/contents",
              "type": "string"
            },
            {
              "id": "e9bfedfa-28d1-4d9b-ac0a-d6e9ebde6803",
              "name": "Branch",
              "value": "=review-board/proposal-{{ $json.IssueID }}",
              "type": "string"
            },
            {
              "id": "44844d0d-4ff1-4b48-bc73-671d28732900",
              "name": "Folder",
              "value": "=proposal-{{ $json.IssueID }}",
              "type": "string"
            },
            {
              "id": "dfe65671-a16e-4095-b333-28f74469eff8",
              "name": "DossierPath",
              "value": "=docs/governance/review-board/archive/proposal-{{ $json.IssueID }}/dossier.md",
              "type": "string"
            },
            {
              "id": "77777917-0445-482e-b07a-1c743282a517",
              "name": "RoundName",
              "value": "={{ $json.RoundName }}",
              "type": "string"
            },
            {
              "id": "6f33e3ac-4ea1-4e65-8760-2b9b977463fe",
              "name": "AcceptanceCriteria",
              "value": "={{ $json.AcceptanceCriteria }}",
              "type": "string"
            },
            {
              "id": "c1548a3f-6212-4b01-aa5e-9a34f2afe81f",
              "name": "Persona",
              "value": "={{ $json.Persona }}",
              "type": "string"
            },
            {
              "id": "04f99d2d-d38a-46d7-b89a-9c14e09761ad",
              "name": "TranscriptPath",
              "value": "=docs/governance/review-board/archive/proposal-{{ $json.IssueID }}/transcripts/{{ $json.Persona }}-{{ $json.RoundName }}.md",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        0
      ],
      "id": "21d32b7d-644d-404c-9362-fd595799ad90",
      "name": "Input",
      "executeOnce": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.Organisation }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.Repo }}",
          "mode": "name"
        },
        "issueNumber": "={{ $json.IssueID }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        80,
        0
      ],
      "id": "b265f81e-899b-4ad7-beaf-c04039fc1152",
      "name": "Issue",
      "webhookId": "664e35c5-b9a5-4fbb-9d55-411e1cd7789d",
      "credentials": {
        "githubOAuth2Api": {
          "id": "UW1kgrkxa9QIFntv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "## Your charter:\nYou represent the Ethics seat on the Review Board. Your mandate is to safeguard user trust, legal compliance, and community equity across every proposal.\n\nFocus on:\n- Privacy guarantees (PII handling, data minimisation)\n- Fairness/bias (especially for AI-generated insight fields)\n- Consent and provenance (can actors prove ownership? can they withdraw data?)\n- Abusive-use prevention (does the change enable harassment, surveillance, or disinformation?)\n- Regulatory alignment (GDPR, data retention, audit logs)\n- Transparency and accountability (redress mechanisms, audit trails).\n\nAlways cite concrete dossier evidence. If the proposal punts ethics concerns to “future work”, treat that as a risk.\n\n--------------------------\n\n## Scoring Guidance:\nScore 0–100. 50 = neutral. ≥75 means ethically acceptable with defined controls; 60–74 signals conditional approval (needs mitigation before rollout); <60 is a red flag requiring changes; <50 means you would block the proposal.\n\nEnforce the mission hierarchy:\n  1. Protect humans and ecosystems from harm (privacy, safety, anti-abuse).\n  2. Ensure governance and auditability (traceability, consent, accountability).\n  3. Maintain equitable access and non-discrimination across publishers, readers, and downstream clients.\n\nIf you score below 75, list at least one blocker and specify the control that must exist before approval. Penalise vague “trust us” statements; reward explicit safeguards (access controls, audit logs, deletion workflows, bias testing, legal reviews).\n\n--------------------------\n\n## Required JSON Output Schema:\nReturn a single JSON object with exactly these keys and types:\n  {\n    \"persona\": \"<Personal Name>\",\n    \"round\": \"<initial|adjustment|final>\",\n    \"score\": <number 0-100>,\n    \"justification\": \"<2-3 sentences referencing the dossier>\",\n    \"blockers\": [\"<actionable blocker, empty array allowed>\"],\n    \"recommendedActions\": [\"<the precise next steps>\"],\n    \"transcript\": \"<markdown narrative>\"\n  }\n  Do not add or rename keys. Do not embed dossier metadata under `persona`. Respond with JSON only—no prose outside the object."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        768,
        0
      ],
      "id": "e0ace610-692b-43e3-b60f-f3104b031500",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"persona\": \"<Personal Name>\",\n  \"round\": \"<initial|adjustment|final>\",\n  \"score\": 50,\n  \"justification\": \"<2-3 sentences referencing dossier evidence>\",\n  \"blockers\": [\"<actionable blocker or empty array>\"],\n  \"recommendedActions\": [\"<steps the requester should take next>\"],\n  \"transcript\": \"<markdown narrative that will be written to the archive>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        928,
        176
      ],
      "id": "6490bec5-e720-42c9-8603-0e06ee51bba0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nconst input = $('Input').first().json;\nconst transcriptPath = input.TranscriptPath;\n// @ts-ignore\nconst transcriptContent = Buffer.from(output.transcript, 'utf8').toString('base64');\nreturn [{\n  json: {\n    persona: input.Persona,\n    round: input.RoundName,\n    score: output.score,\n    justification: output.justification,\n    blockers: output.blockers,\n    recommendedActions: output.recommendedActions,\n    transcriptPath,\n    transcriptContent,\n    organisation: input.Organisation,\n    repo: input.Repo,\n    branch: input.Branch\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        0
      ],
      "id": "26ba3114-3c58-4326-8688-822f9300e321",
      "name": "Prepare Persona Output"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Input').item.json.ContentURL }}/{{ $('Input').item.json.TranscriptPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"chore: add {{ $('Input').item.json.Persona }} transcript {{ $('Input').item.json.RoundName }}\",\n  \"content\": \"{{ $json.transcriptContent }}\",\n  \"branch\": \"{{ $json.branch }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1376,
        0
      ],
      "id": "e274cb2c-c801-4621-a9bb-96e0d49a7310",
      "name": "Write Transcript",
      "credentials": {
        "httpBearerAuth": {
          "id": "nRgsFgPv3IYRblKF",
          "name": "GitHub PAT - Stoked-Builds"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "persona",
              "value": "={{ $('Prepare Persona Output').item.json.persona }}",
              "type": "string",
              "id": "0015e8ba-3707-48ca-8ad1-fd2722768016"
            },
            {
              "name": "round",
              "value": "={{ $('Prepare Persona Output').item.json.round }}",
              "type": "string",
              "id": "58fe00dd-90d9-4a7f-ba38-f8b8dfe07246"
            },
            {
              "name": "score",
              "value": "={{ $('Prepare Persona Output').item.json.score }}",
              "type": "number",
              "id": "5dea3153-457f-4b61-a63f-3893a7769700"
            },
            {
              "name": "justification",
              "value": "={{ $('Prepare Persona Output').item.json.justification }}",
              "type": "string",
              "id": "8650f52d-0a1f-4c65-9764-d81261d2aa35"
            },
            {
              "name": "blockers",
              "value": "={{ $('Prepare Persona Output').item.json.blockers }}",
              "type": "json",
              "id": "7370a913-a323-4348-b445-18859519c0ee"
            },
            {
              "name": "recommendedActions",
              "value": "={{ $('Prepare Persona Output').item.json.recommendedActions }}",
              "type": "json",
              "id": "ec2b8a19-cdd5-44e6-82bb-5bf21e811fc0"
            },
            {
              "name": "transcriptPath",
              "value": "={{ $('Prepare Persona Output').item.json.transcriptPath }}",
              "type": "string",
              "id": "00b9781f-b719-4f2b-9657-fa6cdefa350e"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        0
      ],
      "id": "2fff881c-c97f-4aef-9e5f-fa10d8ced8c9",
      "name": "Return Persona Output"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        736,
        176
      ],
      "id": "b15db4a8-bbfb-4bc9-922a-76e7b471d9df",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OXWubsGTTCNuaDf2",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dossier": {
      "main": [
        [
          {
            "node": "Dossier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dossier": {
      "main": [
        [
          {
            "node": "prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Issue": {
      "main": [
        [
          {
            "node": "Get Dossier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Persona Output": {
      "main": [
        [
          {
            "node": "Write Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Transcript": {
      "main": [
        [
          {
            "node": "Return Persona Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Prepare Persona Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1aacfc3-04b0-4dcd-bed6-615be40b242d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c9ff78efe37162af9c518b22bfed5e620ff041b0132d2a23c8363a9ba169ec9"
  },
  "id": "CIATGQZC3bG1eusB",
  "tags": []
}