flows/review-board/n8n-review-board-agent-adoption.json
{
  "name": "Agent - Adoption",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "IssueID"
            },
            {
              "name": "RoundName"
            },
            {
              "name": "AcceptanceCriteria"
            },
            {
              "name": "Organisation"
            },
            {
              "name": "Repo"
            },
            {
              "name": "Persona"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        0
      ],
      "id": "f76b7033-0b8f-4c8c-bb72-46fe894826f5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Input').item.json.Organisation }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Input').item.json.Repo }}",
          "mode": "name"
        },
        "filePath": "={{ $('Input').item.json.DossierPath }}",
        "additionalParameters": {
          "reference": "={{ $('Input').item.json.Branch }}"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "ccbaf5fe-904b-4ba8-b74b-f059ba6b1df1",
      "name": "Get Dossier",
      "webhookId": "fbfcfd92-79b9-41f0-a511-79eaf60aac96"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        368,
        0
      ],
      "id": "38ac8f6c-e4c0-47c3-91ac-9eea1d33f1a2",
      "name": "Dossier"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f01a66b-f63f-4d0c-83f1-4280de00c7b2",
              "name": "text",
              "value": "=## Proposal\n{{ $('Issue').item.json.title }}\n\n### Issue Summary\n{{ $('Issue').item.json.body }}\n\n### Dossier Extact\n{{ $('Dossier').item.json.data }}\n\n### Round\n{{ $('Input').item.json.RoundName }}\n\n### Acceptance Criteria\n{{ $('Input').item.json.AcceptanceCriteria }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        0
      ],
      "id": "b48e89e9-a7c3-4821-af87-6a13d0929720",
      "name": "prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "933f056e-b830-49ae-95a5-eaed299eb631",
              "name": "Organisation",
              "value": "={{ $json.Organisation }}",
              "type": "string"
            },
            {
              "id": "2545745a-c180-4da8-89db-7710f22b0db7",
              "name": "Repo",
              "value": "={{ $json.Repo }}",
              "type": "string"
            },
            {
              "id": "42b0e2fd-c8c2-4194-9ac3-229c9dc71d26",
              "name": "IssueID",
              "value": "={{ $json.IssueID }}",
              "type": "number"
            },
            {
              "id": "93dd53e8-71e9-477b-b179-622e7403374a",
              "name": "APIUrl",
              "value": "=https://api.github.com/repos/{{ $json.Organisation }}/{{ $json.Repo }}/git",
              "type": "string"
            },
            {
              "id": "54bc024c-06bf-4627-9ecb-28be20c88779",
              "name": "ContentURL",
              "value": "=https://api.github.com/repos/{{ $json.Organisation }}/{{ $json.Repo }}/contents",
              "type": "string"
            },
            {
              "id": "e9bfedfa-28d1-4d9b-ac0a-d6e9ebde6803",
              "name": "Branch",
              "value": "=review-board/proposal-{{ $json.IssueID }}",
              "type": "string"
            },
            {
              "id": "44844d0d-4ff1-4b48-bc73-671d28732900",
              "name": "Folder",
              "value": "=proposal-{{ $json.IssueID }}",
              "type": "string"
            },
            {
              "id": "dfe65671-a16e-4095-b333-28f74469eff8",
              "name": "DossierPath",
              "value": "=docs/governance/review-board/archive/proposal-{{ $json.IssueID }}/dossier.md",
              "type": "string"
            },
            {
              "id": "77777917-0445-482e-b07a-1c743282a517",
              "name": "RoundName",
              "value": "={{ $json.RoundName }}",
              "type": "string"
            },
            {
              "id": "6f33e3ac-4ea1-4e65-8760-2b9b977463fe",
              "name": "AcceptanceCriteria",
              "value": "={{ $json.AcceptanceCriteria }}",
              "type": "string"
            },
            {
              "id": "c1548a3f-6212-4b01-aa5e-9a34f2afe81f",
              "name": "Persona",
              "value": "={{ $json.Persona }}",
              "type": "string"
            },
            {
              "id": "04f99d2d-d38a-46d7-b89a-9c14e09761ad",
              "name": "TranscriptPath",
              "value": "=docs/governance/review-board/archive/proposal-{{ $json.IssueID }}/transcripts/{{ $json.Persona }}-{{ $json.RoundName }}.md",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        0
      ],
      "id": "3a518574-f8d7-40a7-9a2c-385e636ca356",
      "name": "Input",
      "executeOnce": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.Organisation }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.Repo }}",
          "mode": "name"
        },
        "issueNumber": "={{ $json.IssueID }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        80,
        0
      ],
      "id": "8d06535f-a584-404b-a38e-95b1592f9668",
      "name": "Issue",
      "webhookId": "5d8c4be8-ab5f-4b4f-b7d5-6a3ee2e2c9cc"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "## Your Charter\nYou represent the Adoption seat on the Review Board. Your role is to evaluate how a proposal influences ecosystem uptake, community engagement, and partner confidence.\n\nFocus on:\n- Value proposition clarity for publishers, registry operators, and downstream consumers.\n- Upgrade path and rollout readiness (docs, migration guides, backwards compatibility, version negotiation).\n- Impact on community trust (transparency, predictability, ability to self-serve).\n- Partner/platform alignment (does this unblock integrations, marketing commitments, or ecosystem KPIs?).\n- Risk of fragmentation or churn if the change confuses or burdens existing adopters.\n\nAlways reference concrete signals from the dossier (stakeholder quotes, metrics, prior rulings).\n\n## Scoring Guidance\nScore 0–100.\n50 = neutral adoption impact.\n≥75 means the proposal clearly accelerates adoption or reduces churn.\n60–74 = conditional approval with the listed adoption work.\n<60 signals serious adoption risk;\n<50 means you would block until the plan is reworked.\n\nMission hierarchy:\n1. Protect trust and predictability for existing adopters (clear comms, rollback plans).\n2. Lower the barrier for new integrators (starter kits, examples, compatibility matrices).\n3. Drive measurable ecosystem growth (partner requests, community roadmap commitments).\n\nIf you score below 75, provide at least one blocker describing the missing adoption artifact (docs, comms, training, measurable KPI). Reward proposals that bundle launch plans, sample assets, or community engagement steps.\n\n--------------------------\n\n## Required JSON Output Schema:\nReturn a single JSON object with exactly these keys and types:\n  {\n    \"persona\": \"<Personal Name>\",\n    \"round\": \"<initial|adjustment|final>\",\n    \"score\": <number 0-100>,\n    \"justification\": \"<2-3 sentences referencing the dossier>\",\n    \"blockers\": [\"<actionable blocker, empty array allowed>\"],\n    \"recommendedActions\": [\"<the precise next steps>\"],\n    \"transcript\": \"<markdown narrative>\"\n  }\n  Do not add or rename keys. Do not embed dossier metadata under `persona`. Respond with JSON only—no prose outside the object."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        768,
        0
      ],
      "id": "cfdc7840-eee2-469e-81c4-0057cd25f2f2",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"persona\": \"<Personal Name>\",\n  \"round\": \"<initial|adjustment|final>\",\n  \"score\": 50,\n  \"justification\": \"<2-3 sentences referencing dossier evidence>\",\n  \"blockers\": [\"<actionable blocker or empty array>\"],\n  \"recommendedActions\": [\"<steps the requester should take next>\"],\n  \"transcript\": \"<markdown narrative that will be written to the archive>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        928,
        176
      ],
      "id": "0bdfd260-29e4-4e49-bbca-fe67e8398dfb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nconst input = $('Input').first().json;\nconst transcriptPath = input.TranscriptPath;\n// @ts-ignore\nconst transcriptContent = Buffer.from(output.transcript, 'utf8').toString('base64');\nreturn [{\n  json: {\n    persona: input.Persona,\n    round: input.RoundName,\n    score: output.score,\n    justification: output.justification,\n    blockers: output.blockers,\n    recommendedActions: output.recommendedActions,\n    transcriptPath,\n    transcriptContent,\n    organisation: input.Organisation,\n    repo: input.Repo,\n    branch: input.Branch\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        0
      ],
      "id": "ed8b0d1b-f8a8-456a-97c0-37e11c378e38",
      "name": "Prepare Persona Output"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Input').item.json.ContentURL }}/{{ $('Input').item.json.TranscriptPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"chore: add {{ $('Input').item.json.Persona }} transcript {{ $('Input').item.json.RoundName }}\",\n  \"content\": \"{{ $json.transcriptContent }}\",\n  \"branch\": \"{{ $json.branch }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1376,
        0
      ],
      "id": "dd766f95-d695-405d-beb8-8125cda233e9",
      "name": "Write Transcript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "persona",
              "value": "={{ $('Prepare Persona Output').item.json.persona }}",
              "type": "string",
              "id": "0015e8ba-3707-48ca-8ad1-fd2722768016"
            },
            {
              "name": "round",
              "value": "={{ $('Prepare Persona Output').item.json.round }}",
              "type": "string",
              "id": "58fe00dd-90d9-4a7f-ba38-f8b8dfe07246"
            },
            {
              "name": "score",
              "value": "={{ $('Prepare Persona Output').item.json.score }}",
              "type": "number",
              "id": "5dea3153-457f-4b61-a63f-3893a7769700"
            },
            {
              "name": "justification",
              "value": "={{ $('Prepare Persona Output').item.json.justification }}",
              "type": "string",
              "id": "8650f52d-0a1f-4c65-9764-d81261d2aa35"
            },
            {
              "name": "blockers",
              "value": "={{ $('Prepare Persona Output').item.json.blockers }}",
              "type": "json",
              "id": "7370a913-a323-4348-b445-18859519c0ee"
            },
            {
              "name": "recommendedActions",
              "value": "={{ $('Prepare Persona Output').item.json.recommendedActions }}",
              "type": "json",
              "id": "ec2b8a19-cdd5-44e6-82bb-5bf21e811fc0"
            },
            {
              "name": "transcriptPath",
              "value": "={{ $('Prepare Persona Output').item.json.transcriptPath }}",
              "type": "string",
              "id": "00b9781f-b719-4f2b-9657-fa6cdefa350e"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        0
      ],
      "id": "5fb50365-65ff-489b-b3d5-b344df748f65",
      "name": "Return Persona Output"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        736,
        176
      ],
      "id": "756bdb62-9567-44b5-8151-c7eaee32c816",
      "name": "OpenAI Chat Model"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dossier": {
      "main": [
        [
          {
            "node": "Dossier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dossier": {
      "main": [
        [
          {
            "node": "prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Issue": {
      "main": [
        [
          {
            "node": "Get Dossier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Persona Output": {
      "main": [
        [
          {
            "node": "Write Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Transcript": {
      "main": [
        [
          {
            "node": "Return Persona Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Prepare Persona Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0807c405-c36d-49fd-870f-7a7bfa06584d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c9ff78efe37162af9c518b22bfed5e620ff041b0132d2a23c8363a9ba169ec9"
  },
  "id": "iussStx3xbTlSVIf",
  "tags": []
}